<footer class="web-footer">
  <div class="web-footer-container container">
    <div class="footer-wrapper">
      <div class="web-footer-top">
        <a class="footer-logo-link" href="./index.html">
          <svg class="footer-logo-icon" width="127" height="20">
            <use href="../img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <address class="footer-address" id="contacts">
          <a class="footer-address-link" href="tel:380665438912"
            >UK: +38 066 543 8912
            <p class="footer-address-desc">Ukraine, Kyiv</p>
          </a>
        </address>
      </div>
      <div class="footer-socials-menu">
        <div class="footer-socials">
          <ul class="socials">
            <li class="socials-item item">
              <a
                class="socials-link link"
                href="https://Instagram.com"
                target="_blank"
                >Instagram</a
              >
            </li>
            <li class="socials-item item">
              <a
                class="socials-link link"
                href="https://facebook.com"
                target="_blank"
                >Facebook</a
              >
            </li>
            <li class="socials-item item">
              <a
                class="socials-link link"
                href="https://Youtube.com"
                target="_blank"
                >Youtube</a
              >
            </li>
          </ul>
        </div>
        <div class="footer-menu">
          <ul class="socials">
            <li class="menu-item item">
              <a class="menu-link link" href="#about">About us</a>
            </li>
            <li class="menu-item item">
              <a class="menu-link link" href="#courses">Our courses</a>
            </li>
            <li class="menu-item item">
              <a class="menu-link link" href="#mentors">Our mentors</a>
            </li>
            <li class="menu-item item">
              <a class="menu-link link" href="#reviews">Reviews</a>
            </li>
            <li class="menu-item item">
              <a class="menu-link link" href="#contacts">Contacts</a>
            </li>
          </ul>
        </div>
      </div>
      <form class="web-footer-form" name="email">
        <label class="web-footer-label">
          <input
            class="web-footer-input"
            type="email"
            name="form_email"
            required
            placeholder="Enter your email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          />
        </label>
        <button class="web-footer-btn" type="submit">Go</button>
      </form>
    </div>
    <div class="web-footer-bottom">
      <p class="web-footer-privacy text">
        Privacy&nbsp;Policy Public&nbsp;Offering&nbsp;Agreement
      </p>
      <p class="web-footer-copyright text">
        2023&nbsp;Focus&nbsp;Frame ©&nbsp;All&nbsp;rights&nbsp;reserved
      </p>
    </div>
  </div>
</footer>
