<header class="header">
  <svg class="btn-sign-icon" width="127" height="20">
    <use href="./img/icons.svg#icon-logo"></use>
  </svg>
  <button class="btn-sign" type="button" aria-label="sign in button">
    <svg class="btn-sign-icon" width="16" height="16">
      <use href="./img/icons.svg#icon-camera"></use>
    </svg>
  </button>
  <button class="menu-btn" type="button" aria-label="Open menu button">
    <svg class="menu-btn-icon" width="32" height="32">
      <use href="./img/icons.svg#icon-hamburger"></use>
    </svg>
  </button>
</header>

<div class="mobile-menu js-menu-container">
  <button class="menu-close-btn js-close-menu" type="button">
    <svg class="menu-btn-icon" width="8" height="8">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>

  <ul class="mobile-menu-list">
    <li class="mobile-menu-item">
      <a class="mobile-menu-link current header-link" href="#about">About us</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link header-link" href="#courses">Our courses</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link header-link" href="#mentors">Our mentors</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link header-link" href="#reviews">Reviews</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link header-link" href="#contacts">contacts</a>
    </li>
  </ul>
</div>
